/* Main Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 80px;
}

header {
    margin-bottom: 2px;
}

.contact-hero {
    position: relative;
    padding: 50px;
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    z-index: 1;
}


.contacts-adds {
    position: relative;
    z-index: 2;
    margin-top: -40px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 100px;
}

.addresses {
    padding: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: auto;
    background-color: var(--light-bg);
}

.form {
    padding: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    box-sizing: border-box;
    width: auto;
    background-color: var(--light-bg);
}

.office,
.emails,
.phones {
    display: flex;
    margin-bottom: 12px;
    padding: 10px;
    align-items: center;
}

.office img,
.emails img,
.phones img {
    width: auto;
    height: 32px;
    margin: 8px;
    text-align: center;
}

.contact-form {
    font-weight: 500;
    padding: 12px;
}

.credentials {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.fname input {
    display: block;
    padding: 8px;
    margin: 4px 8px;
    border-radius: 8px;
}

.email input {
    display: block;
    padding: 8px;
    margin: 4px 8px;
    border-radius: 8px;
}

.services {
    width: 100%;
    margin: 20px 0;
}

.services select {
    width: 100%;
    padding: 8px;
    margin: 4px 8px;
}

.message textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 30px;
}

button {
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    align-items: center;
}

.add-socials {
    background-color: var(--light-bg);
}

.add-socials a {
    transition: var(--transition);
}

.add-socials a:hover {
    background: var(--primary);
    transform: translateY(-3px);
}